body{
    background-color: beige;    
}
h1{
    color:blueviolet;
    font-family:'Times New Roman', Times, serif ;
}
h2{
    color:floralwhite;
    background-color:darksalmon;
    font-family:'Times New Roman', Times, serif ;
}
.gettasksh2{
    color: dimgray;
    background-color: beige;
    font-family:'Times New Roman', Times, serif;
}
.mytodo{
    color: white;
    background-color:cadetblue;
}
.to
{
    color: white;
}
.image{
    width: 200px;
    height: 200px;
}
.insidetodo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display:inherit;
}
.ternanypara{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: xx-large;
}
